/*===========================================================================

	written by julian@visuallizard.com / wil@visuallizard.com 
	modified by ross@visuallizard.com

	This file is the ie7hacks.css file.
	
	It also has the added bonus of making sure
	Netscape 4 gets no styles at all, because it
	does not understand the @import command.
	
	&copy;2008 - visuallizard.com

===========================================================================*/

div#views h2 div#h2_summary {
    top: 15px;    
}
div#tabs_menu_div div.menu_ul_wrapper ul.tabs_0 li a {
	z-index: 10;
}

div#tabs_menu_div div.menu_ul_wrapper ul.tabs_0 div ul,
div#tabs_menu_div div.menu_ul_wrapper ul.tabs_1 div ul,
div#tabs_menu_div div.menu_ul_wrapper ul.tabs_2 div ul,
div#tabs_menu_div div.menu_ul_wrapper ul.tabs_3 div ul,
div#tabs_menu_div div.menu_ul_wrapper ul.tabs_4 div ul,
div#tabs_menu_div div.menu_ul_wrapper ul.tabs_5 div ul,
div#tabs_menu_div div.menu_ul_wrapper ul.tabs_6 div ul {
	top: 25px;
}
div#tabs_menu_div div.menu_ul_wrapper ul.tabs_0 li div ul li:hover div {
	top: 5px;
}